
{% include "head.html.twig"%}
        <style>
            {{ source("./assets/style/index.css") }}
        </style>
    </head>
    <body>
{% block body %}

    <div class="popUpError error hidden">

    </div>

    <p class="title"> Unlock ! </p>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup" id="registerForm">
            <form id="formregister" method="post" action="/signup">
                <label for="chk" aria-hidden="true">S'enregistrer</label>
                <input type="text" name="user" id="user" placeholder="User name" required="">
                <input type="password" placeholder="Password" id="psd" required="">
                <input type="password" name="pswd" id="pswd" placeholder="Confirm Password" required="">
                <button id="registerSubmit" disabled>Sign up</button>
            </form>
        </div>
        <div class="login" id="loginForm">
            <form method="post" action="/login">
                <label for="chk" aria-hidden="true" class="SeC" >Se connecter</label>
                <input type="text" name="user" placeholder="User name" id="userLog" required="">
                <input type="password" name="pswd" placeholder="Password" id="pswdLog" required="">       
                <button id="loginSubmit">Login</button>
            </form>
        </div>
	</div>


{% endblock %}

    </body>
    <script>
        {{ source("./assets/script/index.js") }}
        {% if fromError is defined %}
            {% if message == "Email ou mot de passe incorrect" %}
                document.getElementById("chk").checked = true;
                document.getElementById("userLog").classList.add("error");
                document.getElementById("pswdLog").classList.add("error");
            {% endif %}
            {% if message == "Email déjà utilisé" %}
                document.getElementById("user").classList.add("error");
            {% endif %}
            document.querySelector(".popUpError").classList.remove("hidden");
            document.querySelector(".popUpError").innerHTML = "<p>&nbsp;❌&nbsp;{{ message }}&nbsp;</p>";
                setTimeout(function(){
                     document.querySelector(".popUpError").classList.add("transtion");
                }, 2000);
        {% endif %}
    </script>
{% include "footer.html.twig"%}