{% include "head.html.twig"%}

{% block body %}

    {% if sessions is defined %}
        <div>
            <form action="/game" method="post">
                <input type="submit" class="menu-button" id="create-game">Créer une partie</input>
                <select name="decks" id="deck-select">
                    <option value="tuto">Tuto</option>
                    <option value="ep5">ep5</option>
                </select>
            </form>
            <button class="menu-button" id="load-game">Charger une partie</button>
        </div>
    {% else %}
        <script> window.location.href = "/" </script>
    {% endif %}

{% endblock %}

{% include "footer.html.twig"%}