/* Paramètres généraux */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  max-height: 100%;
}

/* La page se sépare entre une partie haute et une partie basse */
body {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* La partie haute contient la pioche, la défausse et les actions de jeu */
#topbar {
  display: flex;
  flex-direction: row;
  max-height: 40vh;
  width: 100%;
  border-bottom: 1px solid black;
}

/* Pioche et défausse */
#stackDraw,
#stackDiscard {
  background-color: #222;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Défausse */
#stackDiscard {
  margin-left: auto;
}

/* Actions de jeu, séparées en 3, partie action pioche, action jeu, action défausse */
#actions {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 1rem;
}

/* Les action de la pioche et de la défausse*/
#actionDraw,
#actionDiscard {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Actions de la pioche */
#actionDraw button {
  margin-left: 0;
}

/* Actions de la défausse */
#actionDiscard button {
  margin-right: 0;
}

/* Les actions du jeu */
#actionCards {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-left: #222 solid 1px;
  border-right: #222 solid 1px;
}

#cancelConfirm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-column: span 2;
}

#cancel,
#confirm {
  width: 5rem;
}

/* Plateau de jeu sur lequel se posent les cartes et où retrouve un menu */
#board {
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 100%;
}

/* Emplacment des cartes sur le plateau de jeu */
#cards {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 85%;
  padding: 2rem;
  overflow-x: auto;
}

/* Une visibilité sur les cartes sélectionnées */
.selected {
  box-shadow: 0 0 0 0.2rem rgba(255, 75, 75, 0.8);
}

.cardContainer {
  display: flex;
  flex-direction: row;
  position: relative;
}

.card + .card {
  position: absolute;
}

/* Emplacement du menu de sauvegarde et de retour à l'accueil */
#boardMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 15%;
  border-left: solid 1px #222;
}
